body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #8486A0;
    text-align: center;
    background-color: #fff;
}

section {
    display: block;
}

img {
    vertical-align: middle;
    border-style: none;
    user-select: none;
}

.login-form {
    width: 75%;
    height: 20px;
    margin: 16px !important;
    padding: 12px !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 10px;
}

.btn {
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}

.btn-blue {
    width: 50%;
    color: #fff;
    background-color: #263591;
    border: 1px solid transparent;
    border-color: #263591;
    margin: 12px;
    padding: 6px 12px;
    border-radius: 5px;
}

    .btn-blue:hover {
        background-color: #6495ED;
        border-color: #6495ED;
    }

.bg-white {
    background-color: #fff !important;
}

.px-5 {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
}

.row {
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.justify-content-center {
    justify-content: center !important;
}

h5 {
    margin-top: 0;
    margin-bottom: 1rem;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
